.outer-container {
  width: 100%;
  overflow-x: auto;
}

.inner-container {
  width: max-content;
}

.react-multi-carousel-dot {
  button{
    border-color: $secondary;
   }
   &--active {
    button{
      background-color:  $primary;
     }
   }
}

.carousel {
  @extend .hero,
  .hero-image,
  .d-flex,
  .flex-column,
  .mb-5,
  .justify-content-md-center,
  .align-items-md-center;
  width: 100%;
  height: 100%;

  &-content {
    width: 100vw;
    height: 100vh;
  }

  &-inner {
    @extend .d-flex, .flex-column, .position-relative;
    width: 100%;
    height: 80vh;

    @include media-breakpoint-up(md) {
      height: 80vh;
    }
  }

  &-image {
    @extend .mb-4, .mb-md-0;
    width: 100%;
    height: 100%;

    .carousel-img {
      @extend .img-fluid;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      background-size: cover;
      background-position: center center;
    }
  }

  &-indicators {
    @extend .mb-1, .d-flex, .align-self-start;

    .dot-sm {
      @extend .bg-secondary;
      height: 0.375rem;
      opacity: 1;
      width: 1rem;

      &.active,
      &[aria-current="true"] {
        @extend .bg-primary;
      }
    }
  }

  &-control-next-icon,
  &-control-prev-icon {
    @extend .btn, .btn-sm, .btn-transparent, .btn-outline-primary, .btn-icon;
    color: $primary !important;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin: auto;
    }
  }

  &-next,
  &-prev {
    @extend .btn, .btn-sm, .btn-secondary, .btn-icon, .d-none, .d-md-block;
    bottom: 50%;
    position: absolute;
    text-align: center;
    opacity: 1;
  }

  &-prev {
    left: 1rem;
  }

  &-next {
    right: 1rem;
  }
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: block;
}

.react-multiple-carousel__arrow {
  @extend .mb-4;
  position: absolute;
  outline: 0;
  transition: all .5s;
  border-radius: 35px;
  z-index: 1000;
  border: 0;
  background: rgba(51, 51, 204,0.5);
  min-width: 43px;
  min-height: 43px;
  opacity: 1;
  cursor: pointer;
}


.react-multiple-carousel__arrow--left ,
.react-multiple-carousel__arrow--right{
//top: auto
}
.react-multiple-carousel__arrow--left {
  //@extend .ms-5;
  left: calc(3% + 1px)
}
.react-multiple-carousel__arrow--right{
  right: calc(3% + 1px)
  //right: 1rem !important
}

.testimonial {
  @extend .d-flex, .flex-wrap, .flex-md-nowrap;

  &-image {
    @include media-breakpoint-up(md) {
      flex: 1;
    }
  }

  &-details {
    @extend .d-flex, .flex-column, .p-md-4, .mt-3, .mt-md-0;

    @include media-breakpoint-up(md) {
      flex: 4;
    }
  }
}

.overlay-container {
  @extend .d-flex, .justify-content-center, .align-items-center;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  @include media-breakpoint-up(md) {
    height: 100%;
    width: 100%;
    /* top: 50%;
    transform: translate(0%, -50%); */
  }
}

.overlay-content {
  @extend .col-md-6,
  .flex-column,
  .d-flex,
  .justify-content-center,
  .align-items-center,
  .my-auto,
  .p-4;
  min-height: 60vh;
  box-shadow: 0px 0px 2px rgba(130, 136, 148, 0.16),
    0px 4px 6px rgba(130, 136, 148, 0.16);
  //background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;

  @include media-breakpoint-up(md) {
    min-height: auto;
  }
}
