.dropdown:hover {
  transition: opacity 100ms;
  transition-delay: 0ms;
}

.language-toggler {
  @extend
  .btn, 
  .btn-lg, 
}

.dropdown {
  //opacity: 0;
  opacity: 1;
  transition: opacity 400ms;
  transition-delay: 300ms;




  &-toggler {
   @extend .btn, 
    .btn-sm, .border-0, .bg-transparent, .ms-4;
    cursor: pointer;
    min-height: 1.5rem;
    outline: 0 !important;
    width: 1.5rem;

    .bar-one,
    .bar-two,
    .bar-three {
      @extend .bg-primary;
      border-radius: 0.125rem;
      height: 0.1875rem;
      margin-bottom: 0.375rem;
      transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
        0.3s ease right;
      width: 1.5rem;
    }

    .bar-one {
      transform-origin: 0;
    }

    .bar-two {
      width: 1.5rem;
    }

    .bar-three {
      margin-bottom: 0;
    }

    &.open {

      .bar-two,
      .bar-three {
        position: absolute;
      }

      .bar-one {
        display: none;
      }

      .bar-two {
        right: 0.6875rem;
        top: 1.688rem;
        transform: rotateZ(-45deg);
      }

      .bar-three {
        right: 0.6875rem;
        top: 1.688rem;
        transform: rotateZ(45deg);
      }
    }
  }

  .btn-outline-primary {
    border-radius: 0.375rem;

    @extend .bg-white,
    .d-flex,
    .justify-content-between,
    .align-items-center,
    .text-black;

    &:hover,
    &:active {
      @extend .bg-white, .border-primary;
    }

    &:focus {
      box-shadow: none;
    }

    &.show.dropdown-toggle {
      @extend .bg-white, .border-primary;

      &:after {
        display: none;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }

  &-menu {
    /*   
    box-shadow: $box-shadow;
    overflow: hidden; */
    border: none;
    @extend .d-flex,
    .justify-content-between,
    .align-items-center;
    background-clip: padding-box;
    top: 0;
    right: 0;
    transition:
      box-shadow 800ms cubic-bezier(0.17, 0.04, 0.03, 0.94),
      opacity 800ms cubic-bezier(0.17, 0.04, 0.03, 0.94),
      top 800ms cubic-bezier(0.17, 0.04, 0.03, 0.94);

  }

  .show {
    /*     background-color:  $secondary !important;

    background-clip: padding-box;
    top: 0;
    right: 0;
    transition: 
      box-shadow 800ms cubic-bezier(0.17, 0.04, 0.03, 0.94),
      opacity 800ms cubic-bezier(0.17, 0.04, 0.03, 0.94),
      top 800ms cubic-bezier(0.17, 0.04, 0.03, 0.94); */
  }

  &-item {
    &:hover {
      @extend .text-white, .bg-primary;
    }
  }
}
