.frame {

  /* 	width: 100%;
	height: 100%;
	max-width: 400px;
	max-height: 400px;
	margin: 0 auto;
	border: 2px #fbfbfb solid;
	position: relative;
	box-shadow: inset 0 0 0 20px white;
	background: url(https://images.unsplash.com/photo-1488161628813-04466f872be2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80)
		no-repeat center;
	background-size: cover;
	transition: ease all 0.3s;
	&:hover {
		box-shadow: inset 0 0 0 0 white;
		border: 2px #f9f9f9 solid;
		cursor: pointer;
		.text {
			mix-blend-mode: difference;
			span {
				color: $secondary;
			}
		}
	} */
  .experience-wrapper {
    transform: translate(calc(calc(22px * -1) / 2),
        calc(calc(22px * -1) / 2));
    //position: relative;
    //height: 100%;
    //	transition: ease all 0.3s;
  }

  span {
    font-size: 22px;
    display: inline-block;
    text-align: center;
    width: 22px;
    animation: frameMove 10s linear infinite;
    position: absolute;
    transition: ease all 0.3s;

    @for $i from 1 through 52 {
      &:nth-of-type(#{$i}) {
        animation-delay: calc(0.2s * #{$i});
      }
    }
  }
}

@keyframes frameMove {
  0% {
    top: 0;
    left: 0;
    transform: rotate(0deg);
  }

  24% {
    top: 0;
    left: 100%;
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  49% {
    top: 100%;
    left: 100%;
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  74% {
    top: 100%;
    left: 0%;
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  99% {
    top: 0%;
    left: 0%;
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


//ANimated Hero
@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }

  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.animated-hero {
  &-title {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
  }

  &-text {
    animation: showBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
  }
}
