//SlideContent

.slide-content {
  transform: translateX(0%);
  transition: opacity 250ms ease-in, transform 500ms ease-in;
  height: 100%;

  &-wrapper {
    @extend .d-flex,
      .flex-column,
      .align-items-end,
      .row,
      .pt-3,
      .justify-content-between,
      .flex-md-row;
  }

  img {
    @extend .img-fluid;
    width: 100%;
    min-height: 18.75rem;
    display: block;
  }

  &.slide-content-from-up {
    transform: scale(0);
  }

  &.slide-content-from-up.appear {
    transform: scale(1);
    opacity: 1;
  }

  /* &.slide-content-from-left,
  &.slide-content-from-right {
    transform: translateY(50%);
  } */

  &.slide-content-from-up {
    transition: opacity 250ms ease-in, transform 300ms ease-in;
    opacity: 0;
  }

/*   &.slide-content-from-left,
  &.slide-content-from-right {
    transition: opacity 250ms ease-in, transform 300ms ease-in;
    opacity: 0;
  } */

/*   &.slide-content-from-left.appear,
  &.slide-content-from-right.appear {
    transform: translateY(0);
    opacity: 1;
  } */

  @include media-breakpoint-up(md) {
    &.slide-content-from-left,
    &.slide-content-from-right {
      transform: scale(0);
    }

    &.slide-content-from-left,
    &.slide-content-from-right {
      transition: opacity 250ms ease-in, transform 500ms ease-in;
      opacity: 0;
    }

    &.slide-content-from-left.appear,
    &.slide-content-from-right.appear {
      transform: scale(1);
      opacity: 1;
    }
  }
}

// SlideComponent
.slide-body {
  transform: translateX(100%);
  transition: transform 1000ms ease-in-out;

  .slide-inner {
    @extend .d-flex, .flex-column, .position-relative, .justify-content-center;
    width: 100%;
    height: 40rem;

    @include media-breakpoint-up(md) {
      height: 20rem;
    }
  }

  &.appear {
    transform: translateX(0%);
  }

  &.dissappear {
    transform: translateX(-110%);
  }
}

@keyframes slideInOut {
  0% {
    transform: translateX(0%);
  }

  25% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-100%);
  }

  75% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.slide {
  display: inline-block;
  width: 100%;
  height: 40rem;

  @include media-breakpoint-up(md) {
    height: 20rem;
  }

  border-radius: 40px;
}

@keyframes slideInOut {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  25% {
    transform: translateX(0%);
    opacity: 1;
  }

  50% {
    transform: translateX(-100%);
    opacity: 0;
  }

  75% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
