.nav-pills {

  border-radius: $nav-pills-border-radius;
  background: $primary;

  & {
    @include media-breakpoint-up(md) {
      background: $gray-3;
    }
  }

}

.nav-item {
  @extend .mb-3, .mb-md-0;

  .nav-pills-book {
    background-color: $gray-3;
  }

  @include media-breakpoint-up(md) {
    background-color: transparent;
  }

  &:nth-child(odd) {
    border-top-left-radius: $nav-pills-border-radius;
    border-bottom-left-radius: $nav-pills-border-radius;
  }

  &:nth-child(even),
  &:last-child {
    border-top-right-radius: $nav-pills-border-radius;
    border-bottom-right-radius: $nav-pills-border-radius;
  }
}

.nav-tabs {
  @include border-radius($nav-tabs-border-radius);

  .nav-link {
    @include border-radius($nav-tabs-border-radius);
    @extend .w-100, .fw-bold;
    background: none;
    font-weight: 400 !important;
    outline: none;

    &.active {
      color: $white;
      font-weight: 600 !important;
    }

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}
