.zindex-dropdown {
  z-index: $zindex-dropdown !important;
}

.zindex-sticky {
  z-index: $zindex-sticky !important;
}

.zindex-fixed {
  z-index: $zindex-fixed !important;
}

.zindex-modal-backdrop {
  z-index: $zindex-modal-backdrop !important;
}

.zindex-modal {
  z-index: $zindex-modal !important;
}

.zindex-popover {
  z-index: $zindex-popover !important;
}

.zindex-tooltip {
  z-index: $zindex-tooltip !important;
}
