.about-text {
  font-size: 1.5rem;
}

.video-responsive {
  @extend .position-relative;

  iframe {
    @extend .mb-md-0, .ratio;
    top: 0;
  }
}

.background-shadow {
  // @extend .p-4;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 // background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-shadow:hover,
.background-shadow:focus {
  @extend .p-2;
  box-shadow: $box-shadow-lg !important;
  position: relative;
  z-index: 99999;
}

.about-badge {
  border: 3px solid $black;
  background-color: $gray-2;
  font-weight: $font-weight-boldest;
}

.page-about {
  position: relative;
  overflow: hidden;

  background-image: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 /*  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
              url('../images/background.jpg') center center / cover no-repeat;
   */
              .about-title {
    font-size: 1.8rem;
    line-height: $line-height-base;
  }

  .accordion {
    &-flush {
      // background-color: $gray-2 !important;
    }

    &-item {
      // background-color: $yellow !important;
    }

    &-title {
      // @extend .accordion-button;
      @include media-breakpoint-up(md) {
       // @extend .text-white
      }
    }
  }

  .accordion-item:hover,
  .accordion-item:focus {
    //box-shadow:10px 10px 7px rgba(0,0,0,.7);
    @extend .border, .border-gray-3;
    border-radius: 2rem !important;
    box-shadow: $box-shadow-lg !important;
    //box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  }

  .about-img {
    @include media-breakpoint-up(md) {
      border-radius: 50%;
    }
  }

  &-hero {
    @extend .position-relative, .justify-content-center, .align-items-center;
    min-height: 70vh;
    height: 100%;

    @include media-breakpoint-up(md) {
      min-height: 70vh;
    }
  }

  .banner-img {
    @extend .align-items-center, .justify-content-center;
    height: 100%;
    width: 100%;
  }

  .about-hero-content {
    @extend .d-flex, .p-5, .col-md-5, .align-items-center, .flex-column, .justify-content-center;

    @include media-breakpoint-up(md) {
      min-height: 35rem;
      min-width: 25rem;
      border-radius: 50%;
    }
  }

  .about-background {
    @extend .bg-primary;
    width: 100%;
    height: 120vh;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    padding: 10%;
    text-align: center;
    z-index: -1 //transform: translate(-10%, 30%);
  }

  .about-hero {
    @extend .d-flex, .justify-content-center;
  }

  .about-hero-img {
    @extend .img-fluid;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    height: 100%;
    width: 100%;
  }

  .about-banner {
    @extend .d-flex, .align-items-center, .bg-primary-3, .justify-content-center, .position-relative;
    position: relative;

    &-content {
      width: 13.1875rem;
      height: 100%;
    }
  }

  .about-banner-img {
    @extend .rounded-circle;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;

    @include media-breakpoint-up(md) {
      max-height: 17rem;
    }
  }

  &-image {
    @extend .mb-md-0;
    width: 100%;
    height: 50vh;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 10%;
    text-align: center;
    z-index: -1;

    //background-image: url("../images/ansu.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    transform: translate(0%, 50%);
  }
}
