.page-home {
  height: 100%;
  position: relative;

  .company-text {
    color: $gray;
    @include media-breakpoint-up(md) {
      color: $black;
    }

  }
  .services {
    .card {
     width: 100%;
     height: 100%;
     @include media-breakpoint-up(md) {
      width: 100%;
    height: 100%;
    }
     &-head {
      @extend .row, .gap-2, .d-flex, .flex-column, .justify-content-center, .align-items-center;
      img {
        @extend .img-fluid;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 6rem;
        max-height: 6rem;
      }
     }
  }
  }
  .hero-holder {
    .hero-container {
      .hero-banner {
        @extend .d-flex, .flex-column, .justify-content-center, .align-items-center;
        min-height: 80vh;
        height: 100%;
      }

      .banner-image {
        .banner-row {
          height: 100%;
        }

        .banner-img {
          @extend .row, .d-flex, .flex-column;

          img {
            @extend .align-items-end, .justify-content-end;
          }
        }

        .banner-body {
          @extend .d-flex, .flex-column, .justify-content-between, .align-items-center;

          .work {
            @extend .flex-grow-1, .d-flex, .justify-content-between, .justify-content-md-center, .align-items-center;
          }


          .location-text {
            color: $primary;

            @include media-breakpoint-up(md) {
              color: $white;
            }
          }

          .hero-about-text {
            @extend .justify-content-between, .justify-content-md-center, .align-items-center, .mt-auto;
          }
        }
      }

    }
  }

  &-image {
    @extend .mb-md-0;
    z-index: -1;
    background-image: url("../images/ansu.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    height: 50vh;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 40%;
    padding: 10%;
    text-align: center;
    transform: translate(-10%, 30%);

    img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
    }
  }
}
