$form-check-input-checked-bg-color: $primary;
$form-check-input-indeterminate-bg-color: $primary;
$form-check-label-color: $black;
$form-check-input-border: 0.0625rem solid $primary;
$form-check-input-width: 1rem;
$form-check-padding-start: $form-check-input-width + 0.75rem;
