/* @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap');

$font-family: 'MplusRounded1c', MplusRounded1c, sans-serif;
 */
/* Thin */
/* @font-face {
  font-family: 'MplusRounded1c', MplusRounded1c;
  font-style: normal;
  font-weight: 100;
  src: local('MplusRounded1c Thin'), url('../fonts/MPLUSRounded1c-Thin.ttf') format('ttf');
} */

/* Light */
/* @font-face {
  font-family: 'MPLUSRounded1c', MplusRounded1c;
  font-style: normal;
  font-weight: 300;
  src: local('MplusRounded1c Light'), url('../fonts/MPLUSRounded1c-Light.ttf') format('ttf');
} */

/* Regular */
/* @font-face {
  font-family: 'MplusRounded1c', MPLUSRounded1c;
  font-style: normal;
  font-weight: 400;
  src: local('MplusRounded1c Regular'), url('../fonts/MPLUSRounded1c-Regular.ttf') format('ttf');
} */

/* Medium */
/* @font-face {
  font-family: 'MplusRounded1c', MplusRounded1c;
  font-style: normal;
  font-weight: 500;
  src: local('MplusRounded1c Medium'), url('../fonts/MPLUSRounded1c-Medium.ttf') format('ttf');
} */

/* Bold */
/* @font-face {
  font-family: 'MplusRounded1c', MplusRounded1c;
  font-style: normal;
  font-weight: 700;
  src: local('MplusRounded1c Bold'), url('../fonts/MPLUSRounded1c-Bold.ttf') format('ttf');
} */

/* ExtraBold */
/* @font-face {
  font-family: 'MplusRounded1c', MplusRounded1c;
  font-style: normal;
  font-weight: 800;
  src: local('MplusRounded1c ExtraBold'), url('../fonts/MPLUSRounded1c-ExtraBold.ttf') format('ttf');
} */

/* Black */
/* @font-face {
  font-family: 'MplusRounded1c', MplusRounded1c;
  font-style: normal;
  font-weight: 900;
  src: local('MplusRounded1c Black'), url('../fonts/MPLUSRounded1c-Black.ttf') format('ttf');
}
 */
/* Italic Styles */
/* @font-face {
  font-family: 'MplusRounded1c', MplusRounded1c;
  font-style: italic;
  font-weight: 100;
  src: local('MplusRounded1c Thin Italic'), url('../fonts/MPLUSRounded1c-ThinItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'MplusRounded1c', MplusRounded1c;
  font-style: italic;
  font-weight: 300;
  src: local('MplusRounded1c Light Italic'), url('../fonts/MPLUSRounded1c-LightItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'MplusRounded1c', MplusRounded1c;
  font-style: italic;
  font-weight: 400;
  src: local('MplusRounded1c Regular Italic'), url('../fonts/MPLUSRounded1c-RegularItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'MplusRounded1c', MplusRounded1c;
  font-style: italic;
  font-weight: 500;
  src: local('MplusRounded1c Medium Italic'), 
  url('../fonts/MPLUSRounded1c-MediumItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'MplusRounded1c', MplusRounded1c;
  font-style: italic;
  font-weight: 700;
  src: local('MplusRounded1c Bold Italic'), url('../fonts/MPLUSRounded1c-BoldItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'MplusRounded1c', MplusRounded1c;
  font-style: italic;
  font-weight: 800;
  src: local('MplusRounded1c ExtraBold Italic'), url('../fonts/MPLUSRounded1c-ExtraBoldItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'MplusRounded1c', MplusRounded1c;
  font-style: italic;
  font-weight: 900;
  src: local('MplusRounded1c Black Italic'), url('../fonts/MPLUSRounded1c-BlackItalic.ttf') format('ttf');
}
 */