$box-shadow-sm: 0 0 0.0625rem rgba(130, 136, 148, 0.16),
  0 0.125rem 0.25rem rgba(130, 136, 148, 0.16);

$box-shadow: 0 0 0.125rem rgba(130, 136, 148, 0.16),
  0 0.25rem 0.375rem rgba(130, 136, 148, 0.16);

$box-shadow-lg: 0 0 0.125rem rgba(130, 136, 148, 0.08),
  0 0 0.25rem rgba(130, 136, 148, 0.16),
  0 0.5rem 0.5rem rgba(130, 136, 148, 0.16);
