$height: 30px;

$slider-width: 11.25rem;
$slider-height: 4px;
$background-slider: $gray-2;

$thumb-width: 1.5rem;
$thumb-height: 1.5rem;
$thumb-radius: 50%;

$shadow-size: -10px;
$border-radius: 2px;
