$nav-link-color: $primary;
$nav-link-hover-color: $white;
$nav-link-padding-y: 1rem;

$nav-pills-border-radius: 6.25rem;
$nav-pills-link-active-bg: $primary;

$nav-tabs-link-active-bg: $primary;
$nav-tabs-border-radius: 0.75rem 0.75rem 0 0;
$nav-tabs-border-width: 0;
$nav-tabs-link-hover-border-color: transparent;
$nav-tabs-link-active-color: $white;
